.app__cta {
    margin: 10rem 0;
    padding: 10rem;
    background-color: #132238;
    color: #fff;

    .app__cta-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        margin: 0 auto;
        max-width: 62rem;
        gap: 3.2rem;
    }
}