/* RESET DEFAULT STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  font-family: 'Work Sans', sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body{
  overflow-x: hidden;
}

/* UTILITY CLASSES STARTS HERE */

/* TEXT STYLES  */

.display {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 8.4rem;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  /* line-height: 56px; */
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.thin-600 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.thin-500 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.thin-400 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.small-600 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

.small-500 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

.small-400 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.regular-600 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.regular-500 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.regular-400 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.large-600 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.large-500 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.large-400 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/* COLOR STYLES */

.primary-100 {
  color: #EDD8FF;
}

.primary-200 {
  color: #DBB1FF;
}

.primary-300 {
  color: #C98BFF;
}

.primary-400 {
  color: #B764FF;
}

.primary-500 {
  color: #A53DFF;
}

.primary-600 {
  color: #8431CC;
}

.primary-700 {
  color: #632599;
}

.primary-800 {
  color: #421866;
}

.primary-900 {
  color: #210C33;
}

.grey-white {
  color: #ffffff;
}

.grey-50 {
  color: #F0F1F3;
}

.grey-100 {
  color: #E6E8EB;
}

.grey-200 {
  color: #C3C7CE;
}

.grey-300 {
  color: #A5ACB5;
}

.grey-400 {
  color: #87909D;
}

.grey-500 {
  color: #697484;
}

.grey-600 {
  color: #556070;
}

.grey-700 {
  color: #424E60;
}

.grey-800 {
  color: #2B384C;
}

.grey-900 {
  color: #132238;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}


.btn-primary {
  padding: 1.2rem 2.4rem;
  border-radius: .4rem;
  background-color: #A53DFF;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  display: inline-block;
  border: .1rem solid transparent;
  transition: all 0.3s ease-in-out;

}

.btn-primary:hover{
        border: .1rem solid #A53DFF;
        background-color: transparent;
        color: #A53DFF;
    
}

.btn-primary span {
  padding-left: 1rem;
}


.btn-secondary {
  padding: 1.2rem 2.4rem;
  border-radius: .4rem;
  /* background-color: #A53DFF; */
  border: 1px solid #A53DFF;
  color: #A53DFF;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.btn-secondary span{
  padding-right: 1rem;
}

.btn-secondary:hover {
  border: .1rem solid transparent;
  background-color: #A53DFF;
  color: #fff;

}

.btn-text {
  display: inline-block;
}


/* UTILITY CLASSES ENDS HERE */


/* MEDIA QUERY */

@media (max-width: 62em){

  html{
    font-size: 50%;
  }

  .container{
    max-width: 78rem;
    /* padding: 0 1.2rem; */
  }

}


@media (max-width: 49em) {

  html {
    font-size: 45%;
  }

  .container {
    max-width: 70rem;
    padding: 0 1.6rem;
  }
}


@media (max-width: 37em) {

  html {
    font-size: 40%;
  }

  .container {
    max-width: 60rem;
    /* padding: 0 1.2rem; */
  }
}



@media (max-width: 24em) {
  html {
    font-size: 30%;
  }

  .container {
    max-width: 50rem;
  }
  
}